<h1>Eat the Burger!</h1>

<h2>Available Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
{{!-- <ul>
  {{#each burgers}}
    <li>
      <p>{{this.id}} {{this.burger_name}}
      <button data-id="{{this.id}}" class="devourBurger">Devour</button></p>
    </li>
  {{/each}}
</ul> --}}

<h2>Devoured Burgers</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

