{{!-- Displays name and devour state button to page --}}
<li>
	{{burger_name}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devour}}Devour{{else}}Add Burger Again{{/if}}
	</button>
</li>