{{!-- Potential button added when burger is devoured. Include in partials? --}}
<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Add Burger Again{{else}}Devour{{/if}}
	</button>
</li>